#header
  background: url("../img/heroBackground.jpg") no-repeat
  background-size: cover
  height: 750px
  color: white
  text-align: center
  overflow: hidden


  img
    max-width: 500px
    width: 100%

  article
    width: 60%
    margin: 0 auto

  h1
    margin-bottom: 10px
  p
    font-weight: 900
