#discount
  margin-top: 65px

.discountLayout
  display: flex
  align-items: center
  justify-content: center
  @media only screen and (max-width: 680px)
    display: block

  img
      width: 100%
      max-width: 500px
      @media only screen and (max-width: 680px)
        width: 100%
        max-width: 300px
        text-align: center
        margin: 0 auto
        display: block

  .offer
    width: 40%
    margin: 0 auto
    @media only screen and (max-width: 680px)
      width: 100%
      text-align: center


  .offer .button
    background: rgb(0,158,253)
    background: linear-gradient(-100deg, rgba(0,158,253,1) 0%, rgba(21,201,203,1) 48%, rgba(42,245,152,1) 100%)
    color: white
    padding: 20px 80px
    font-size: 18px
  h2
    margin-bottom: 15px
