#download
  color: white
  text-align: center
  background: url("../img/downloadBackground.jpg") no-repeat
  background-size: cover
  background-position: center
  padding: 120px 0
  margin-top: -70px
  @media only screen and (max-width: 680px)
    background: url("../img/downloadBackgroundSmall.jpg") no-repeat
    margin-top: 75px
    padding: 60px

  h2
    font-size: 68px
    margin: 0
    text-transform: uppercase
    font-weight: 900
    @media only screen and (max-width: 680px)
      font-size: 44px

  p
    width: 100%
    max-width: 450px
    margin: 20px auto 40px
    font-weight: 900

  .button
    position: relative
    width: 250px
    margin: 0 15px
    padding: 20px 0
    padding-left: 35px
    @media only screen and (max-width: 680px)
      margin: 10px 15px

  .apple:before, .google:before
    position: absolute
    display: block
    left: 22%
    top: 19px

  .apple:before
    content: url("../img/appleicon.png")
  .google:before
    content: url("../img/playicon.png")
