.main-nav
  display: flex
  margin-top: 20px
  padding: 0

  li
    list-style: none

  a
    color: white
    display: block
    border-radius: 4px
    padding: 10px 40px
    text-decoration: none
    font-weight: 900
    text-transform: uppercase
    transition: all 0.2s ease
  a:hover, a:active
    color: $ocean
  li:first-child
    margin-right: auto
    padding: 10px 0
    a
      padding: 0

a.download
  background: white
  color: $ocean
  box-shadow: 0 12px 10px -10px rgba(0,0,0, 0.2)
  margin-left: 25px
